<div class="discord-main">
  <div flex="80" flex-offset="10" flex-offset-sm="0" flex-sm="100">

    <md-toolbar layout="row">
       <div class="md-toolbar-tools">
         <span style="text-transform:uppercase;" class="">Discord SC.FR</span>
       </div>
     </md-toolbar>

     <md-content>
       <p class="md-body-2" layout-padding>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed leo sit amet mi suscipit condimentum. Integer est urna, rutrum in magna ac,
         vestibulum commodo risus. Mauris justo nisi, sodales nec tristique et, convallis sed mi. Praesent sollicitudin est erat, eget tristique diam tincidunt sed.
         Vestibulum eu interdum odio. Vivamus at mauris magna. Vestibulum felis ex, scelerisque eu convallis nec, efficitur at leo. Fusce eleifend sem quis dapibus
         venenatis. Mauris pretium ante pharetra dolor viverra, eleifend ultricies neque bibendum. Pellentesque habitant morbi tristique senectus et netus et
         malesuada fames ac turpis egestas. Sed sapien enim,maximus vitae est ut, tincidunt dictum risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut rutrum leo sed orci tincidunt eleifend.
      </p>
     </md-content>

     <div layout style="margin-top:10px;">
       <div flex="65">
       <md-content>
         <md-toolbar layout="row" class="md-hue-2">
            <div class="md-toolbar-tools">
              <span>coming soon</span>
            </div>
          </md-toolbar>
       </md-content>
     </div>
       <div flex="35"><discord-main-user-card style="margin-top:0px;"></discord-main-user-card></div>
     </div>

  </div>

</div>
